<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="dashboard/fragment/general :: head"></div>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

	<!-- sidebar -->
    <div th:insert="dashboard/fragment/general :: sidebar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <div th:insert="dashboard/fragment/general :: topbar"></div>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">添加船期</h1>
          </div>

          <!-- Content Row -->

<form action="#" th:action="@{/shipdate/save}"
						 th:object="${shipDate}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="date" th:field="*{shippingDate}"
					class="form-control mb-4 col-4" placeholder="Ship Date">

			<input type="date" th:field="*{cutOffDate}"
					class="form-control mb-4 col-4" placeholder="Cutoff Date">

			<input type="text" th:field="*{destination}"
					class="form-control mb-4 col-4" placeholder="目的地">
					
			激活<input type="checkbox" th:field="*{active}"
					class="form-control mb-4 col-4">
				
			<button type="submit" class="btn btn-info col-2">保存</button>
						
		</form>



        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
      
	 <!-- Footer -->
	 <div th:insert="dashboard/fragment/general :: footer"></div>
	
 
    </div>
    <!-- End of Content Wrapper -->
 
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div th:insert="dashboard/fragment/general :: logout-modal"></div>
  
  <!-- Script -->
 <div th:insert="dashboard/fragment/general :: script"></div>
	
</body>

</html>









