<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="dashboard/fragment/general :: head"></div>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Reset Your Password.</h1>
                    <p class="mb-4"></p>
                  </div>
                  <div th:insert="site/fragment/general :: message"></div>
		          <form class="user" action="#" th:action="@{/user/reset-password}"
						th:object="${user}" method="POST">
                    <div class="form-group text-center">
                    	<b>User:</b> <span th:text="${user.username}"></span>
                    </div>
                    <div class="form-group" th:if="!${flagSucc}">
                      <input type="password" class="form-control form-control-user" name="password" placeholder="Enter Password...">
                    </div>
                    <div class="form-group" th:if="!${flagSucc}">
                      <input type="password" class="form-control form-control-user" name="passwordConfirm" placeholder="Enter Confirm Password...">
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block" th:if="!${flagSucc}">Reset Password</button>
                    <a th:if="${flagSucc}" href="/user/login"><button type="button" class="btn btn-primary btn-user btn-block">Go to Login</button></a>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/user/register">Create an Account!</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="/user/login">Already have an account? Login!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Script -->
 <div th:insert="dashboard/fragment/general :: script"></div>

</body>

</html>
