<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="dashboard/fragment/general :: head"></div>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- sidebar -->
		<div th:insert="dashboard/fragment/general :: sidebar"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:insert="dashboard/fragment/general :: topbar"></div>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">订单列表</h1>
					</div>

					<div class="card shadow mb-4">
						<div class="card-body">

							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>海运日期</th>
											<th>微信名称</th>
											<th>快递公司</th>
											<th>快递单号</th>
											<th>货品描述</th>
											<th sec:authorize="hasAnyRole('MEMBER', 'ADMIN')">货品价值</th>
											<th>货运体积</th>
											<th sec:authorize="hasAnyRole('MEMBER', 'ADMIN')">货物运费</th>
											<th sec:authorize="hasAnyRole('MEMBER', 'ADMIN')">提货方式</th>
											<th>备注</th>
											<th></th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>海运日期</th>
											<th>微信名称</th>
											<th>快递公司</th>
											<th>快递单号</th>
											<th>货品描述</th>
											<th sec:authorize="hasAnyRole('MEMBER', 'ADMIN')">货品价值</th>
											<th>货运体积</th>
											<th sec:authorize="hasAnyRole('MEMBER', 'ADMIN')">货物运费</th>
											<th sec:authorize="hasAnyRole('MEMBER', 'ADMIN')">提货方式</th>
											<th>备注</th>
											<th></th>
										</tr>
									</tfoot>
									<tbody>
										<tr th:each="tempShipment : ${shipments}">
											<td th:text="${tempShipment.shipDate.shippingDate}" />
											<td th:text="${tempShipment.customer.wechatId}" />
											<td th:text="${tempShipment.shipingCompany}" />
											<td th:text="${tempShipment.trackingNumber}" />
											<td th:text="${tempShipment.description}" />
											<td sec:authorize="hasAnyRole('MEMBER', 'ADMIN')" th:text="${tempShipment.packageValue}" />
											<td th:text="${tempShipment.unit}" />
											<td sec:authorize="hasAnyRole('MEMBER', 'ADMIN')" th:text="${tempShipment.shipping_price}" />
											<td sec:authorize="hasAnyRole('MEMBER', 'ADMIN')">
												<div th:switch="${tempShipment.deliveryMethod}">
													<span th:case="PickUp">自取</span> <span th:case="Delivery">送货</span>
												</div>
											</td>
											<td th:text="${tempShipment.note}" />

											<td>
												<!-- Add "update" button/link --> <a
												th:href="@{/dashboard/shipments/update(trackingNumber=${tempShipment.trackingNumber})}"
												class="btn btn-info btn-sm"> 更改 </a> <!-- Add "delete" button/link -->
												<a
												th:href="@{/dashboard/shipments/delete(trackingNumber=${tempShipment.trackingNumber})}"
												class="btn btn-danger btn-sm"
												onclick="if (!(confirm('您确定要删除这个订单吗?'))) return false">
													删除 </a>

											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<div th:insert="dashboard/fragment/general :: footer"></div>


		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:insert="dashboard/fragment/general :: logout-modal"></div>

	<!-- Script -->
	<div th:insert="dashboard/fragment/general :: script"></div>
	<!-- 
<script type="text/javascript">
var table = $('#example').DataTable( {
	dom: 'Blfrtip',
    buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
} );


    </script>-->
</body>

</html>



