<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="dashboard/fragment/general :: head"></div>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- sidebar -->
		<div th:insert="dashboard/fragment/general :: sidebar"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:insert="dashboard/fragment/general :: topbar"></div>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">货运订单 <small class="text-danger">(*必须填写)</small></h1>
					</div>

					<!-- Content Row -->

					<form action="#" th:action="@{/dashboard/shipments/save}"
						th:object="${shipment}" method="POST">
						
						<div class="form-group row">
							<label for="shippingDate" class="col-sm-1 col-form-label text-right">海运日期</label>
							<div class="col-sm-2">
								<select class="form-control" id="shippingDate"
									th:field="${shipment.shipDate.id}">
									<option th:each="shipDate : ${shipDateList}"
										th:value="${shipDate.id}" th:text="${shipDate.shippingDate}"></option>
								</select>
							</div>
						</div>

						<div sec:authorize="hasAnyRole('MEMBER', 'ADMIN')">
							<div class="form-group row">
								<label for="email" class="col-sm-1 col-form-label text-right">邮箱</label>
								<div class="col-sm-2">
									<input type="email" class="form-control" id="email"
										th:field="*{customer.email}">
								</div>
								<label for="phone" class="col-sm-1 col-form-label text-right">电话</label>
								<div class="col-sm-2">
									<input type="tel" class="form-control" id="phone"
										th:field="*{customer.phone}">
								</div>
								<label for="wechat" class="col-sm-1 col-form-label text-right">会员号<span class="text-danger">*</span></label>
								<div class="col-sm-2">
									<input type="text" class="form-control" id="wechat"
										th:field="*{customer.wechatId}">
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="shipingCompany" class="col-sm-1 col-form-label text-right">快递公司<span class="text-danger">*</span></label>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									id="shipingCompany" th:field="*{shipingCompany}">
							</div>
							<label for="trackingNumber" class="col-sm-1 col-form-label text-right">快递单号<span class="text-danger">*</span></label>
							<div class="col-sm-2">
								<input type="text" class="form-control"
									id="trackingNumber" th:field="*{trackingNumber}">
							</div>
							<span class="col-sm-2 text-danger" th:if="${#fields.hasErrors('trackingNumber')}" th:errors="*{trackingNumber}"></span>
						</div>

						<div class="form-group row">
							<label for="description" class="col-sm-1 col-form-label text-right">货品描述<span class="text-danger">*</span></label>
							<div class="col-sm-3">
								<input type="text" class="form-control"
									id="description" th:field="*{description}">
							</div>
							
							<label sec:authorize="hasAnyRole('MEMBER', 'ADMIN')" for="packageValue" class="col-sm-2 col-form-label text-right">货品价值 <small>(请如实填写)</small><span class="text-danger">*</span></label>
							<div class="col-sm-1" sec:authorize="hasAnyRole('MEMBER', 'ADMIN')">
								<input type="number" class="form-control"
										id="packageValue" th:field="*{packageValue}"> 
							</div>
						
						</div>

						<div sec:authorize="hasAnyRole('EMPLOYEE', 'ADMIN')">
							<div class="form-group row">
								<label for="weight" class="col-sm-1 col-form-label text-right">重量（公斤）</label>
								<div class="col-sm-1">
									<input type="number" class="form-control"
										id="weight" th:field="*{weight}">
								</div>
								<label for="length" class="col-sm-1 col-form-label text-right">长度（厘米）</label>
								<div class="col-sm-1">
									<input type="number" class="form-control"
										id="length" th:field="*{length}">
								</div>
								<label for="width" class="col-sm-1 col-form-label text-right">宽度（厘米）</label>
								<div class="col-sm-1">
									<input type="number" class="form-control"
										id="width" th:field="*{width}">
								</div>
								<label for="height" class="col-sm-1 col-form-label text-right">高度（厘米）</label>
								<div class="col-sm-1">
									<input type="number" class="form-control"
										id="height" th:field="*{height}">
								</div>
							</div>
						</div>
						
						<div sec:authorize="hasAnyRole('ADMIN')">
							<div class="form-group row">
								<label for="unit" class="col-sm-1 col-form-label text-right">体积重</label>
								<div class="col-sm-1">
									<input type="number" class="form-control"
										id="unit" th:field="*{unit}">
								</div>
								<label for="unit_price" class="col-sm-1 col-form-label text-right">运费单价</label>
								<div class="col-sm-1">
									<input type="number" class="form-control"
										id="unit_price" th:field="*{unit_price}">
								</div>
								<label for="shipping_price" class="col-sm-1 col-form-label text-right">运费</label>
								<div class="col-sm-1"  style="padding: 5px 10px;">
									<span th:text="*{shipping_price}" class="font-weight-bold text-danger"></span>
								</div>
							</div>
						</div>

						<div sec:authorize="hasAnyRole('MEMBER', 'ADMIN')">
							<div class="form-group row">
								<label for="deliveryMethod" class="col-sm-1 col-form-label text-right">提货方式<span class="text-danger">*</span></label>
								<div class="col-sm-1">
									<select class="form-control" id="deliveryMethod"
										th:field="*{deliveryMethod}">
										<option value=""></option>
										<option th:value="'PickUp'" th:text="自取"></option>
										<option th:value="'Delivery'" th:text="送货"></option>
									</select>
								</div>
							</div>

							<div id="deliveryAddress">
								<div class="form-group row">
									<label for="address" class="col-sm-1 col-form-label text-right">送货地址</label>
									<div class="col-sm-3">
										<input type="text" class="form-control"
											id="address" th:field="*{deliveryAddress}">
									</div>
									<label for="city" class="col-sm-1 col-form-label text-right">送货城市</label>
									<div class="col-sm-1">
										<input type="text" class="form-control" id="city"
											th:field="*{deliveryCity}">
									</div>
									<label for="province" class="col-sm-1 col-form-label text-right">送货省份</label>
									<div class="col-sm-1">
										<input type="text" class="form-control"
											id="province" th:field="*{deliveryProvince}">
									</div>
									<label for="postCode" class="col-sm-1 col-form-label text-right">送货邮编</label>
									<div class="col-sm-1">
										<input type="text" class="form-control"
											id="postCode" th:field="*{deliveryPostCode}">
									</div>
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="note" class="col-sm-1 col-form-label text-right">备注</label>
							<div class="col-sm-3">
								<textarea class="form-control" id="note"
									th:field="*{note}"></textarea>
							</div>
						</div>

						<button type="submit" class="btn btn-info mb-2">保存</button>

					</form>



				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<div th:insert="dashboard/fragment/general :: footer"></div>


		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:insert="dashboard/fragment/general :: logout-modal"></div>

	<!-- Script -->
	<div th:insert="dashboard/fragment/general :: script"></div>

	<script>
		$(document).ready(function() {
			$('#deliveryAddress').hide();

			$('#deliveryMethod').on('change', function() {

				if (this.value == 'Delivery') {
					$('#deliveryAddress').show();
				} else {
					$('#deliveryAddress').hide();
				}
			});
		});
	</script>

</body>

</html>









