<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!-- Footer -->
	<div th:insert="site/fragment/general :: head"></div>
	
    <body id="page-top">
        
         <!-- menu -->
		<div th:insert="site/fragment/general :: menu"></div>
	
        <!-- Masthead-->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">加嘉集运</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-10 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">️国内集运群，把淘宝带回家️ 
集运约每10天一班，空运随到随发
🉑只接受电商，厂商快递🉑 </p>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">了解更多</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-secondary" id="about">
            <div class="container">
                <div class="row justify-content-left">
                    <div class="col-lg-11">
                        <h2 class="text-white mt-0 text-center">集运规则</h2>
                        <hr class="divider light my-6" />
                        </div></div>
                <div class="row justify-content-left">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="text-white-50 mb-5">
                        	<b>🈲禁运清单🈲——</b><BR>
							<ul style="margin-top:5px">
								<li>所有液体类, 护肤品化妆品类，酒类，茶叶，及任何粉末类（无论品类和功能）都禁止运输</li>
								<li>食品类： 肉食海鲜，调味料，干货（无论干湿还是真空包装)</li>
								<li>种子类：无论是已经炒制还是生的都是违禁品</li>
								<li>无论什么药，疫情用品禁止运输，包括口罩！</li>
								<li>植物类：烟草，经过炮制的中草药, 具有腐蚀性的物品</li>
								<li>易燃易爆品，军火武器，高仿军械等危险物品</li>
								<li>活体：动植物活体禁止运输</li>
								<li>A牌假货：高仿货，山寨货，盗版书籍等敏感货物（受知识产权保护的）</li>
								<li>原版英文书籍（加拿大能买到的），色情，涉政书籍禁止运输</li>
								<li>纯电及锂电池，拥有蓄电功能的电池都禁止运输（玩具电器中含有电池及纽扣电池的，请备注，收货人员会代取出. 可以运输的电器仅限于直接通电使用，不具备任何蓄电功能的电器（例如搅拌机，电饭煲，养生壶等）</li>
								<li>压缩气罐类，易燃易爆物品</li>
								<li>贵重物品，奢侈品，古董等</li>
								<li>不确定的，大件，木质大件及单个包裹内物品价值超过2000RMB的，需要咨询群主和客服</li>
							</ul>
							
							<b>收费标准——</b><BR>
							<ul style="margin-top:5px">
								<li>💕集运会员价格16RMB/kg💕</li>
								<li>新人集运价格17RMB/KG，累计消费满1000RMB后，自动升级为会员价（支持支付宝，微信或emt加币汇率5进行付款）</li>
								<li>集运所有重量舍三进四：比如1.2kg即为1kg，1.4kg即为2kg</li>
								<li>所有快递，不论大小，一律按体积重和重量计算收费</li>
								<li>集运公式：体积重=长CM*宽CM*高CM➗6000 体积重和实际重，哪个大，计算哪个. 不规则的包装，快递袋包装都按最长边计算体积, 不满1公斤的包裹，按1公斤计算</li>
								<li>咨询过程中给出的所有运费均为预估，最终以仓库实际称重和测量尺寸后为准</li>
								<li>运费在当次截单后7个工作日内统计收取，未收取运费和未在群接龙上的的快件当次不发货</li>
								<li>集运所有快递不合箱！不叠加重量收费！收到几个，就是几个！</li>
								<li>所有包裹单独计费: 例如 第一个快递1.1kg，第二个快递1.4kg，第三个快递1.7kg，那快递总重为5kg</li>
								<li>20件衣服以内免费帮剪吊牌，超过需支付处理费</li>
							</ul>

							<ul style="margin-top:5px">
								<li>💫空运80RMB/kg💫</li>
								<li>💕门对门，周一及周五发航班，无截单</li>
								<li>💕仓库收到包裹后，5个工作日内抵达</li>
								<li>公式：长CM*宽CM*高CM➗5000</li>
								<li>不满1kg按1kg计算，1.1kg即按2kg计算</li>
								<li>无首重续重，最大80kg一个包裹</li>
								<li>从收到的第一个包裹日期算起，可以滞留五天</li>
								<li>同一个人五天内的所有包裹会合箱</li>
								<li>按最后合箱的包裹重量和体积收费，体积重和实际重哪个大算哪个</li>
							</ul>
														
							💖注意事项——<BR>
							<ul style="margin-top:5px">
								<li>如果快递寄到仓库已签收，但是最后没整理到货物，仓库会照价赔偿</li>
								<li>已签收的快递中有禁运品，收30rmb处理费加加快递费寄回，不确保七天内能寄回！</li>
								<li>请购买前和商家确认好体积，重量以及包裹数量，包裹签收后，不要的话作丢弃处理</li>
								<li>快递签收时仓库如发现破损，会通知该包裹的主人，不保证一定会仔细检查并发现，货仓主要检查是否有禁运品</li>
								<li>收到产品的数量和质量有问题，请大家与卖家联系，货仓只是承担转运功能，无法校验物品</li>
								<li>空运集运保丢不保损</li>
								<li>包裹内有电池需要取出的话请备注</li>
								<li>木质大型家具运到海外一定要熏蒸，货仓提供熏蒸服务，需自费，具体事宜请询问群主</li>
							</ul>
							</div>
							<div class="text-center"><a class="btn btn-light btn-xl js-scroll-trigger" href="#services">集运日期</a></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <h2 class="text-center mt-0">集运日期</h2>
                <hr class="divider my-4" />
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center" th:each="tempShipDate : ${shipDate}">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-calendar-alt text-primary mb-4"></i>
                            <h3 class="h4 mb-2" th:text="${tempShipDate.shippingDate}"></h3>
                            <p class="text-muted mb-0">截单: <span th:text="${tempShipDate.cutOffDate}"/></p>
                            <a class="btn btn-info btn-xl" style="margin-top:10px" th:href="@{/dashboard/shipments/addWithDate(shipDate_Id=${tempShipDate.Id})}">下单</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section bg-light" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 text-center">
                        <h2 class="mt-0">自取货单</h2>
                        <hr class="divider my-4" />
                        <p class="text-muted mb-5">
							️所有包裹可在North York，Markham，AuroraTNT自提，密市满100个包裹会送到指定地点提货，货到开放提货点接龙<BR>
							️送货上门：多个小包20CAD，大件50CAD<BR>
							根据地址范围决定价格，如有需要请联系群主<BR>
							condo，apartment只送到门口</p>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <i class="fas fa-map-marker fa-3x mb-3 text-muted"></i>
                        <div>Aurora TNT</div>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i
                        ><a class="d-block" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
                    </div>
                </div> -->
            </div>
        </section>
        <!-- Footer -->
	 	<div th:insert="site/fragment/general :: footer"></div>
    </body>
</html>
